body{
    background-image: url('../Images/Background.jpg');
    background-size: 100%;
    background-repeat: repeat;
}

ol{
    
    color: white;
    border: 5px double;
    padding: 5px;
    padding-left: 3%;
    background-image: url('../Images/sfondo2.gif');
    background-size: cover;
    background-repeat: repeat;
}

a{
    color: white;
}

h1{
    text-align: center;
    color: white;
}

h3{
    text-align: center;
    color: white;
}

table{
    border: 5px double;
    width: 100%;
    color: white;
    background-image: url('../Images/sfondo2.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

td{
    padding:5px;
    padding-left:15px;
}
