body{
    background-image: url('../Images/Background.jpg');
    background-size: cover;
    background-repeat: repeat;
}

ol{
    color: white;
    border: 1px solid white;
}

a{
    color: white;
}

h1{
    text-align: center;
    color: white;
}

h3{
    text-align: center;
    color: white;
}