div.a {
    border: double;
}

div.b {
    border: double;
    width: 50%;
}

ul {
    list-style-type: square;
}

.column {
    float: left;
    width: 100%;
    padding: 10px;
    height: 350px; 
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    display: flex;
}

.bottone{
    width: 300px;
    height: 40px;
}